<launch>
	<arg name="robot_description" />
	<arg name="gui" default="true" />
	<param name="robot_description" textfile="$(find slambot_description)/urdf/slambot.urdf.xacro" />
	<param name="use_gui" value="$(arg gui)"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find slambot_description)/rviz/urdf.rviz" required="true" />
	<node pkg="tf" type="static_transform_publisher" name="lidar_link" args="0 0 0 0 0 0 1 base_scan neato_laser 100" />
</launch>
